*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    /* text-transform: capitalize; */
}
#container{
    display: flex;
    justify-content: space-between;
    background-color: #adbd52;
    padding: 7px 14px;
    align-items: center;
}
#container #nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
#container #nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
#container #logo img{
    width: 50px;

}
#container #main{
display: flex;
align-items: center;

}
#container #main .Search{
display: flex;
align-items: center;
}
#container #main .Search input{
padding: 2.5px 5px;
border: none;
outline: none;
width: 150px;
height: 30px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
#container #main .Search i{
background-color: black;
color: white;
padding: 6.5px 9px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
#container #main .button{
margin-left: 10px;
}
#container #main .button a{
margin-left: 10px;
text-decoration: none;
color: black;
text-transform: capitalize;
background-color: white;
padding: 4px 10px;
border-radius: 5px;
transition: all ease-in-out 0.2s;
}
#container #main .button a:hover{
background-color: black;
color: white;
}
#img1{
     display:flex ;
}
.genz{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 8px 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}

#img1 .genz a{
text-decoration: none;
color: rgb(255, 253, 253);
text-transform: capitalize;
background-color: rgb(0, 0, 0);
padding: 4px 10px;
border-radius: 5px;
transition: all ease-in-out 0.2s;
width: 70px;
}
.img1 img{
    width: 750px;
}
h1{
    background-color: #adbd52;
    text-align: center;
    margin: 20px;
}
#img2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 8px 16px;
    margin: 10px;
    display: flex;
    }

#img2 img{
    width: 400px;
}
.genz{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 8px 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}
#img .genz{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 8px 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}

#img3{
    display:flex;
    justify-content: space-between;
}
#img3 .img1 img{
    width: 400px;
}

footer{
    background-color: #adbd52;
}
footer img{
    /* padding: 10px; */
    width: 150px;
    margin-top: 10px;

}
footer .footer{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color:black;
    font-size: 13px;
}
footer .copy{
    text-align: center;
    margin-top: 50px;
}







/* Drop-down nav */

#container #nav ul .drop-down .drop-down-nav{
    position: absolute;
    /* padding: 30px 0; */
    display: none;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(207, 205, 205);
}
#container #nav ul .drop-down:hover .drop-down-nav{
    display: block;
}
#container #nav ul .drop-down .drop-down-nav li{
    display: block;
    width: 100%;
    padding: 8px 16px;
    transition: all ease-in-out .2s;
}
#container #nav ul .drop-down .drop-down-nav li:hover{
    background-color: black;
    color: white;
}